/* *{
   background-color:#fefefe ; 
   color:#0090ff
} */
/* #small
{
    color:#2b2b2b
}
.another
{
    color:#a0acb5;
    background-color: #dbeaf6ea;
} */
a{
    color:#2b2b2b;
}
/* section{
    padding-top: 5%;
} */
body{
    color:#2b2b2b;
}